<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span [routerLink]="['/']">Music Service</span>
    <span class="spacer"></span>
    <span>{{name}}</span>
    <button *ngIf="isLoggedIn" mat-raised-button (click)="logout()">Logout</button>
</mat-toolbar>