<div class="main-section">
    <mat-card *ngFor="let album of albums" class="album-card">
        <mat-card-header>
          <mat-card-title [routerLink]="['/albums', album.id]" class="album-title">{{album.name}}</mat-card-title>
          <mat-card-subtitle>{{album.date | date:'mediumDate'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>
