.login-card {
    max-width: 480px;
    margin: 100px auto;

    .form-field {
        width: 100%;
    }

    .form-actions {
        display: flex;
        justify-content: space-between;
        padding: 0 16px 16px 16px;
    }
}