<mat-card class="login-card">
    <mat-card-content>
        <form [formGroup]="form">
            <mat-form-field class="form-field">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" />
              <mat-error *ngIf="emailControl?.hasError('email')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailControl?.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" />
                <mat-error *ngIf="passwordControl?.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions class="form-actions">
        <button mat-raised-button color="primary" (click)="submit()">Login</button>
        <button mat-button>Forgot a Password?</button>
    </mat-card-actions>
</mat-card>