<div class="main-section">
    <h2>{{album.name}}</h2>
    <div>{{album.date | date:'mediumDate'}}</div>

    <div class="songs">
        <div *ngFor="let song of songs; let i = index;" class="song">
            <div>
                <button mat-icon-button>
                    <mat-icon>play</mat-icon>
                </button>
            </div>
            <div class="song-info">
                <div class="title">{{song.title}}</div>
                <div class="artist">Artist Name</div>
            </div>
            <div>
                <button mat-icon-button (click)="addOrRemoveSong(song)">
                    <mat-icon *ngIf="!song.added">add</mat-icon>
                    <mat-icon *ngIf="song.added">check</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
