.songs {
    max-width: 600px;

    .song {
        display: flex;
        align-items: center;
        margin-top: 8px;

        .song-number {
            width: 24px;
            font-weight: 500;
            color: #555555;
        }

        .song-info {
            flex-grow: 1;

            .title {
                font-weight: 500;
            }

            .artist {
                color: #555555;
            }
        }
    }
}